.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  height: 100vh;
  padding: 20px;
  max-height: 90vh;
}

.banner-left {
  background-color: #371e66;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.main-content {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.contacto-div-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
}

.contact-phone-boxes {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.contact-phone-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.extensions-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.extensions-group_boxes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.extensions-group_box {
  margin-top: 2rem;
  background-color: #c2bec9;
  color: #371e66;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 20%;
}

.banner-left-pictuares {
  margin-top: 2rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #371e66;
}

.contact-box-title {
  font-weight: 800;
  font-size: 1.6rem;
}

.contact-box-email,
.contact-box-hours,
.contact-box-phones {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.contact-box-email p {
  font-size: 1.8rem;
}

.contact-box-hours p {
  font-size: 1.2rem;
  white-space: nowrap;
  margin-top: 0.5rem;
}

.contact-box-phones p {
  font-size: 1.2rem;
  white-space: nowrap;
  margin-top: 0.5rem;
}

.contact-box-phones_whatsapp-img {
  width: 4rem;
}

.banner-right {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.aside-main {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.aside-asside {
  background-color: #371e66;
}

.trucks-and-buses-icon {
  margin-top: -10rem;
}

.aside-bottom {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.supercamiones-icon-aside {
  width: 12rem;
}
