footer {
  display: flex;
  flex-direction: column;
  background: rgb(10, 55, 122);
  width: 100%;
  color: white;
  font-size: 12px;
  max-width: 100vw;
}

.logo-footer {
  width: 12rem;
  margin: 2rem 0 0 5rem;
}

.logo-footer__volkswagen {
  margin: 3rem 6rem;
}

.footer-linea {
  display: none;
}

.footer-container-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.footer-container-info div {
  margin-left: 20px;
  align-self: center;
  height: 200px;
}

.title-lista-footer {
  font-weight: bold;
  font-size: 16px;
  margin: 10px;
}

.redes-sociales {
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.ul-redes-sociales {
  display: flex;
}

.ul-redes-sociales a {
  display: flex;
  align-items: center;
  margin: 0 -2.5rem 0rem 0;
  transition: 1s;
}

.ul-redes-sociales li:hover,
.ul-redes-sociales a:hover {
  transform: scale(1.3);
  transition: 1s;
}

.ul-redes-sociales li {
  display: flex;
  margin-right: 3rem;
  align-items: center;
}

.img-inside-redes_sociales {
  order: 1;
}

.ul-redes-sociales img {
  width: 24px;
  height: auto;
  margin: 0 3rem 0 0.5rem;
  order: 1;
}

.logo-footer-whatsapp {
  position: relative;
  right: 50%;
  top: 8vw;
}

.container-lado-derecho {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 36%;
}

.container-lado-derecho ul {
  margin: 2rem 2rem 0;
}

@media screen and (min-width: 720px) {
  footer {
    flex-direction: row;
  }

  .footer-container-info {
    margin-left: -20rem;
    flex-direction: row;
  }

  .logo-footer {
    width: 12rem;
    margin: 2rem 0 0 4rem;
  }

  .logo_volkswagen_footer {
    display: flex;
    align-items: center;
  }

  .logo_volkswagen_footer img {
    width: 8rem;
    filter: invert(100%) brightness(200%);
    margin-top: 2rem;
  }

  .logo_volkswagen_footer p {
    font-size: 1.5rem;
    margin: 1rem 20rem 0 -1rem;
  }

  .footer-container-info {
    text-align: justify;
  }

  .logo-footer-whatsapp {
    right: 40%;
    top: 1.8vw;
  }

  .footer-linea {
    display: block;
    border: 1px solid lightgray;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
