.productos-volkswagen__title {
  margin-top: 4rem;
  width: 30%;
}

.nav-volkswagen {
  position: absolute;
  z-index: 4;
}

.volkswagen-segunda-linea {
  top: 5.8rem;
}

.logo-volkswagen__volkswagen-nav {
  background-image: url("https://res.cloudinary.com/dx7s6xwo7/image/upload/v1711770417/1-02_c4ifr7.png");
  position: absolute;
  background-size: cover;
  background-position: center;
  height: 8vh;
  width: 100%;
  top: 50px;
  background-repeat: no-repeat;
  z-index: 10;
}

.carousel-volkswagen {
  margin-top: -1.5rem;
}

.carousel-volkswagen__prods {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
  padding: 2rem;
}

.carousel-image-volkswagen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 2px;
}

.carousel-button-volkswagen {
  height: 40px;
  border-radius: 50px;
  background-color: var(--transparent-white-color);
  font-size: 30px;
  color: var(--darkbluecolor);
  border: none;
  cursor: pointer;
  padding-bottom: 20px;
}

.carousel-button-volkswagens:hover {
  background-color: #ccc;
}

#previous-volkswagen {
  width: 5%;
  position: absolute;
  top: 50px;
  left: 4px;
}

#next-volkswagen {
  width: 5%;
  position: absolute;
  top: 50px;
  right: 4px;
}

.volkswagen_figures {
  display: none;
}

.container__elementos-elegidos :nth-child(1) {
  width: 100px;
  height: 100px;
}

.container__elementos-elegidos :nth-child(2) {
  font-size: 10px;
}

.form-title {
  width: 44%;
  margin-top: 4rem;
}

.volkswagen-form-subtitle {
  color: var(--darkbluecolor);
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.big-form-container {
  width: 90%;
  margin: 0 auto 2rem;
  color: #53575a;
}

.small-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.form-container label {
  color: #53575a;
  margin: 0.5rem 0;
}

.form-fild__volkswagen {
  display: flex;
  flex-direction: column;
}

.input-volkswagen {
  background: rgb(233, 230, 230);
  border-radius: 2rem;
  font-size: 1.2rem;
  padding: 0.4rem 1rem 0.4rem;
}

.label-permisos__volkswagen {
  font-size: 0.8rem;
}

.resaltar-supercamiones {
  font-weight: 900;
}

.button-form__volkswagen {
  display: flex;
  color: #53575a;
  background-color: rgb(233, 230, 230);
  margin: 2rem auto 4rem;
  border-radius: 2rem;
  padding: 1rem 3rem 1rem;

  &:hover {
    cursor: pointer;
  }
}

.img-productos__list {
  width: 20rem;
  height: 15rem;
  border-radius: 1rem;
}

.container-product__list p {
  color: #002e61;
  font-size: 1rem;
}

@media screen and (min-width: 720px) {
  .logo-volkswagen__volkswagen-nav {
    background-image: url("../Volkswagen/LogoPestanaVolkswagen-01.png");
    background-position: center;
    background-size: contain;
    height: 70px;
    margin: -2rem 0 1rem 0;
    position: absolute;
  }

  .carousel-volkswagen__prods {
    display: none;
  }

  .volkswagen_figures {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .container__elementos-elegidos :nth-child(1) {
    width: 250px;
    height: 250px;
  }

  .container__elementos-elegidos :nth-child(2) {
    font-size: 20px;
  }

  .volkswagen-form-subtitle {
    margin-bottom: 2rem;
  }

  .big-form-container {
    width: 40%;
    margin: 0 auto 2rem;
    color: #53575a;
  }

  .small-form-container {
    flex-direction: row;
  }

  .form-container {
    width: 50%;
    margin: 2rem auto;
  }
}
